[submodule "submodules/djangae"]
	path = submodules/djangae
	url = https://github.com/lukebpotato/djangae.git
[submodule "submodules/django"]
	path = submodules/django
	url = https://github.com/django/django.git
